@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: url('assets/fonts/Rubik-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  src: url('assets/fonts/Rubik-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  src: url('assets/fonts/Rubik-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 800;
  src: url('assets/fonts/Rubik-ExtraBold.woff2') format('woff2');
}

:root {
  --clr-accent-100: hsla(43, 100%, 50%, 0);
  --clr-accent-200: hsla(43, 100%, 50%, .5);
  --clr-accent-300: hsl(43, 100%, 50%);
  --clr-accent-400: hsl(36, 100%, 50%);

  --clr-neutral-100: #fffffa;
  --clr-neutral-300: #F7F5F0;
  --clr-neutral-400: #EDEBE6;
  --clr-neutral-700: #807C73;
  --clr-neutral-800: #1f1200;
  --clr-neutral-900: #2c2a26;

  --clr-shadow: hsla(0, 0%, 0%, 0.161);

  --ff-primary: Rubik, sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semiBold: 600;
  --fw-bold: 700;
  --fw-extraBold: 800;

  --fs-100: 0.583rem;
  --fs-200: 0.7rem;
  --fs-300: 0.84rem;
  --fs-400: 1.008rem;
  --fs-500: 1.21rem;
  --fs-600: 1.452rem;
  --fs-700: 1.742rem;
  --fs-800: 1.45rem;
  --fs-900: 1.75rem;


  --fs-body: var(--fs-300);
  --fs-title: var(--fs-900);
  --fs-subtitle: var(--fs-600);
  --fs-secondary-heading: var(--fs-800);
  --fs-tertiary-heading: var(--fs-400);
  --fs-form-label: var(--fs-200);
  --fs-button: var(--fs-300);
  --fs-close-modal: 24px;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2.5rem;
  --size-700: 3rem;
  --size-800: 3.75rem;
  --size-900: 5rem;
}

@media (min-width: 750px) {
  :root {
    --fs-100: 0.625rem;
    --fs-200: 0.75rem;
    --fs-300: 0.9rem;
    --fs-400: 1.08rem;
    --fs-500: 1.296rem;
    --fs-600: 1.555rem;
    --fs-700: 1.866rem;
    --fs-800: 2.24rem;
    --fs-900: 2.688rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --fs-100: 0.694rem;
    --fs-200: 0.833rem;
    --fs-300: 1rem;
    --fs-400: 1.2rem;
    --fs-500: 1.44rem;
    --fs-600: 1.728rem;
    --fs-700: 2.074rem;
    --fs-800: 2.488rem;
    --fs-900: 2.986rem;
  }
}


/* Reset styling */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

legend {
  display: table;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* button reset style */
button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* smooth srolling */
html {
  scroll-behavior: smooth;
}

/* Utility classes */

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}


.text-neutral-300 {
  color: var(--clr-neutral-300);
}

.text-neutral-800 {
  color: var(--clr-neutral-800);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}

.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-extraBold {
  font-weight: var(--fw-extraBold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semiBold {
  font-weight: var(--fw-semiBold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.text-align-center {
  text-align: center;
}

@media (max-width: 680px) {
  .text-align-center-mobile {
    text-align: center;
  }
}

.uppercase {
  text-transform: uppercase;
}

.content-align-center {
  margin: 0 auto;
}

.title {
  font-size: var(--fs-title);
  line-height: 1.25;
}

.subtitle {
  font-size: var(--fs-subtitle);
}

.secondary-heading {
  font-size: var(--fs-secondary-heading);
  font-weight: var(--fw-bold);
}

.tertiary-heading {
  font-size: var(--fs-tertiary-heading);
}

.fs-button {
  font-size: var(--fs-button);
}

.fs-form {
  font-size: var(--fs-form-label);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}


/* link */
.link {
  text-decoration: none;
  color: inherit;
}

/* Spacing */

.margin-top-sm {
  margin-top: var(--size-200);
}

.margin-top-md {
  margin-top: var(--size-500);
}

.margin-top-lg {
  margin-top: var(--size-600);
}

.margin-top-xlg {
  margin-top: var(--size-900);
}


.padding-block-sm {
  padding-block: var(--size-500);
}

.padding-block-md {
  padding-block: var(--size-800);
}

.padding-block-lg {
  padding-block: var(--size-900);
}


.container {
  --max-width: 1440px;
  --padding: 1.25em;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.container-sm {
  --max-width: 44em;
  --padding: 1.25em;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: calc(40px + 1.5625vw);
}

@media (min-width: 768px) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.vertical-align-start {
  align-items: start;
}

.horizontal-align-start {
  align-content: start;
}

.justify-content {
  justify-content: space-between;
}

.flex {
  display: flex;
  gap: var(--gap, 1.25em);
  row-gap: var(--row-gap, 2.5em);
  flex-wrap: wrap;
}

.grid {
  display: grid;
  gap: var(--gap, 1.25em);
  row-gap: var(--row-gap, 3.75rem);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 20rem));
  justify-content: center;
  gap: 1.25em;
}


@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 19rem);
    justify-content: center;
    gap: 1.25em;
  }

}

@media (min-width: 1280px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 17.5rem);
    justify-content: center;
    gap: 1.25em;
  }
}

@media (min-width: 1441px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    gap: 1.25em;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

@media (min-width: 768px) {

  .container {
    --max-width: 1440px;
    --padding: 2.5em;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;
  }
}

@media (min-width: 1300px) {
  .container {
    --max-width: 1440px;
    --padding: 3.75em;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;
  }
}

/* General Styling */

body {
  font-size: var(--ff-body);
  font-family: var(--ff-body);
  color: var(--clr-neutral-800);
}

/* button styling */

.button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  font-weight: var(--fw-regular);
  font-size: var(--fs-button);
  line-height: 1;
  background: linear-gradient(0.25turn, var(--clr-accent-400), var(--clr-accent-300));
  box-shadow: -0.25em 0 0.25em var(--clr-shadow);
}

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  padding: 0.5em 1em;
  font-weight: var(--fw-regular);
  font-size: var(--fs-button);
  line-height: 1;
  background: linear-gradient(0.25turn, var(--clr-accent-400), var(--clr-accent-300));
  box-shadow: -0.25em 0 0.25em var(--clr-shadow);
}

/* primary-header */


.primary-header {
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 1.25em;
  font-weight: var(--fw-semi-bold);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-neutral-800);
}


.primary-navigation {
  --gap: 2.5em;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
}


.mobile-nav-toggle {
  display: none;
}

.underline-indicators>* {
  cursor: pointer;
  padding: var(--underline-gap, .5rem) 0;
  border: 0;
  border-bottom: .2rem solid var(--clr-accent-100);
}

.underline-indicators>*:hover,
.underline-indicators>*:focus {
  border-color: var(--clr-accent-200);
}

.underline-indicators>.active,
.underline-indicators>[aria-selected="true"] {
  color: var(--clr-accent-300);
  border-color: var(--clr-accent-300);
}


@media (max-width: 750px) {
  .primary-navigation {
    --gap: 2.5em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 50%;
    background-color: var(--clr-neutral-400);
    list-style: none;
    padding: min(20rem, 15vh) 1.25rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: block;
    order: 3;
    background: transparent;
    background-image: url(./assets/images/Icon\ feather-menu.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    z-index: 2000;
    background-image: url(./assets/images/Icon\ feather-x.svg);
  }

  .primary-navigation.underline-indicators>* {
    border: 0;
    padding: 0 var(--left-gap, 1.25rem);
  }

  .primary-navigation.underline-indicators>.active {
    border: 0;
    border-left: .2rem solid var(--clr-accent-300);
    padding: 0 var(--left-gap, 1.25rem);
  }
}

.primary-navigation.button {
  display: none;
}


.display-sm-none {
  display: none;
}

@media (min-width: 750px) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}

/* Hero Section */

.fullscreen-video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.fullscreen-video-container video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* card section */


/* .card-grid {
  display: grid;
  gap: 1.25rem;
}

@media (min-width: 750px) {   
  .card-grid {
  }
}

@media (min-width: 1280px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
} */

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: center; */
  gap: 1.25rem;

}

.card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 500px;
  border-radius: .5rem;
  background-color: var(--clr-neutral-300);
  box-shadow: -0.1875em 0 0.375em var(--clr-shadow);
}


.card img {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  margin: 0 auto;

}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* padding: 1.5rem; */
  padding: 1.25rem;
}

.card-description {
  flex-grow: 1;
  margin-top: .5rem;
  margin-bottom: 2rem;


}

.card-cta {
  display: flex;
  align-items: center;
  column-gap: 5%;
}

.card-cta > .open-modal::after {
  content: '';
  display: inline-block;
  background-image: url(assets/images/Icon\ feather-chevron-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: .6em;
  height: .6em;
  margin-left: .24em;
  vertical-align: baseline;
}

@media (max-width: 1199px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}



/* contact form */

/* .form-flex {
  font-family: var(--ff-primary), sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-900);
} */

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form>label,
legend {
  /* background-color: var(--clr-neutral-800); */
  color: var(--clr-neutral-700);
  font-size: var(--fs-form-label);
  font-weight: var(--fw-extraBold);
  color: var(--basecolor);
  text-transform: uppercase;
  padding-left: .3125rem;
  margin-bottom: .25rem;
}

.contact-form>input {
  border: none;
  border-radius: .3125rem;
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-300);
  font-size: 1rem;
  padding: .75rem 0.5rem;
  margin-bottom: 1rem;
}

.contact-form>input:focus,
.contact-form>textarea:focus {
  outline: none;
  border: 3px solid var(--clr-accent-300);
}

.contact-form ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

.contact-form li {
  display: flex;
  align-items: center;
  gap: .25rem;
  text-transform: uppercase;
}

.contact-form input[type="checkbox"] {
  accent-color: var(--clr-neutral-900);
}

/* .contact-form input[type="checkbox"] {
  display: none;
  width: 1.25rem;
  height: auto;
  accent-color: blue;
  aspect-ratio: 1/1;
  background-color: var(--clr-neutral-900);
  border-radius: .125rem;
  cursor: pointer;
}

.contact-form li > label {
  display: flex;
  cursor: pointer;
  padding-left: .25rem;
  margin-right: .75rem;
}

.contact-form li > label::before {
  content: "";
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  
  background-color: var(--clr-neutral-900);
  }

input[type=checkbox]:checked + label:before {
  background-image: url(assets/images/Icon\ feather-x-light.svg);
  background-size: .75rem; 
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
} */




.contact-form>textarea {
  border: none;
  border-radius: 5px;
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
  padding: .75rem 0.5rem;
  resize: none;

}

input::placeholder,
textarea::placeholder {
  color: var(--clr-neutral-700);
}

.contact-form>button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: .75rem 0.5rem;
  margin-top: 1.25rem;
  font-weight: var(--fw-regular);
  font-size: var(--fs-button);
  line-height: 1;
  background: linear-gradient(0.25turn, var(--clr-accent-400), var(--clr-accent-300));
  box-shadow: -0.25em 0 0.25em var(--clr-shadow);
}


/* Choose Us */

.feature-flex {
  margin: 0 auto;
  max-width: 62.5rem;
  justify-content: center;

}

.icon {
  height: 5rem;
  width: auto;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}

.short-pharagraph {
  width: 25ch;
  margin-inline: auto;
}

/* Modal */


/* Services Modal */
.modal {
  margin: auto auto;
  padding: calc(20px + 1.5625vw);
  width: 90vw;
  max-width: 65ch;
  border: 0;
  border-radius: 10px;
  box-shadow: -0.25em 0 0.25em var(--clr-shadow);
}


.modal-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2.5rem;
  row-gap: 1.25rem;
}


.close-button {
  font-size: clamp(20px, 6vw, 36px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: auto;
  aspect-ratio: 1;
  background-color: var(--clr-neutral-300);
  border-radius: 50%;
}


.close-button>img {
  width: 50%;

}

.close-button-position {
  position: absolute;
  right: 2.5vw;
  top: 1vh;
}

.position-relative {
  position: relative;
}


@media (min-width: 1025px) {
  .modal {
    max-width: 150ch;
  }

  .modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.75em;
  }


  .close-button-position {
    position: fixed;
    top: calc(20px + 1.5625vw);
    right: calc(20px + 1.5625vw);
  }

  .modal-description {
    padding-right: 1.25rem;
    margin-right: 2.5em;
    overflow-y: scroll;
    max-height: 400px;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}


.modal-heading {
  font-size: var(--fs-600);
  text-transform: uppercase;
}


/* Form modal */

.modal-form {
  margin: auto auto;
  padding: calc(8px + 1.5625vw);
  border: 0;
  border-radius: 10px;
  box-shadow: -0.25em 0 0.25em var(--clr-shadow);
}

.modal-form::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.close-form {
  display: flex;
  margin-left: auto;
}


/* Modal animation */
@keyframes slideInFromRight {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(0);
  }
}

.modal-animation {
  animation: slideInFromRight 0.6s ease-in forwards;
}

/* Gallery */
.gallery-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 1.25rem;
  row-gap: 2.5rem;
  margin: 2.5rem auto;
  justify-content: center;
}